# Configuración de Servidor
PORT=3000
NODE_ENV=production

# Base de Datos PostgreSQL
DB_USER=yape_admin
DB_PASSWORD=yape_password_strong
DB_NAME=yape_monitor
DATABASE_URL=postgresql://yape_admin:yape_password_strong@db:5432/yape_monitor

# Seguridad
JWT_SECRET=cambiar_por_una_llave_muy_secreta
ADMIN_INVITE_CODE=YAPE2026PRO
